*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px 0;
}
main {
  width: 900px;
  min-height: 500px;
  margin: 0 auto;
  /* padding: 50px 30px; */
  background-color: #ddeaf6;
  border: 1px solid #000;
  /* position: relative; */
}
.wrapper {
  padding: 50px 0px;
}
h1 {
  text-align: center;
  font-size: 24px;
}
input[type="submit"] {
  width: 160px;
  padding: 5px 20px;
  background-color: #4472c4;
  color: #fff;
  text-align: center;
  border: #16305e 1px solid;
  border-radius: 5px;
}
input[type="submit"]:hover {
  background-color: #3766b9;
  cursor: pointer;
}
.center_div {
  text-align: center;
}
.center_p {
  text-align: center;
}
.button_a {
  display: inline-block;
  width: 170px;
  margin-top: 20px;
  padding: 5px 20px;
  background-color: #fff;
  color: #16305e;
  text-align: center;
  border: #16305e 1px solid;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
}
.button_a:hover {
  background-color: #e9e9e9;
}
.button_a_blue {
  background-color: #4472c4;
  color: #fff;
  border: #16305e 1px solid;
}
.button_a_blue:hover {
  background-color: #3766b9;
}

/* ヘッダー */
header {
  width: 100%;
  height: 80px;
  /* position: absolute;
  top: 0;
  left: 0; */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbe4d5;
}
/* .header_wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbe4d5;
  border: 1px solid #000;
  border-bottom: none;
} */
.header_button_a {
  background-color: rgba(255,255,255,0);
}
.header_button_a:hover {
  background-color: rgba(255,255,255,0.3);
}
.header_dummy {
  width: 100%;
  height: 80px;
}

/* トップ画面 */
.topLogo {
  padding-top: 150px;
  color: #fff;
  font-size: 50px;
}

/* 会員情報登録フォーム */
.mr_container {
  width: 400px;
  margin: 20px auto;
}
.mr-errors {
  width: 300px;
  margin: 0 auto;
  color: red;
  font-size: 12px;
}
.mr_contentsWrapper {
  padding-bottom: 20px;
}
.mr_nameInputWrapper {
  display: flex;
  justify-content: space-between;
}
.mr_inputs {
  display: flex;
  gap: 10px;
}
.mr_nameTitle {
  padding-right: 1px;
}
.mr_genderInputWrapper {
  display: flex;
  gap: 40px;
}
.mr_addressInputWrapper {
  display: flex;
  gap: 40px;
}
.mr_prefInputs {
  display: flex;
  flex-direction: column;
}
.mr_prefTitle {
  display: inline-block;
  width: 100px;
  font-size: 14px;
}
.mr_addressInput {
  width: 200px;
}
.mr_title {
  display: inline-block;
  width: 120px;
}
.mr_Input {
  width: 200px;
}
/* 会員情報確認画面 */
.mr_confirmTable {
  padding-bottom: 15px;
}
.mr_confirmTable td,th {
  padding: 15px;
  vertical-align: top;
}
.mr_confirmTable th {
  width: 150px;
  font-weight: normal;
  text-align: left;
}

/* ログイン画面 */
.login_title {
  display: inline-block;
  width: 160px;
}
.login-errors {
  width: 400px;
  padding-bottom: 30px;
  margin: 0 auto;
  color: red;
  font-size: 14px;
}

/* スレッド作成画面 */
.tr_container {
  width: 600px;
  margin: 20px auto;
}
.tr_title {
  display: inline-block;
  width: 140px;
  vertical-align: text-top;
}
.tr_input {
  width: 400px;
}
.tr_textarea {
  width: 400px;
  height: 150px;
}
.tr_label {
  display: flex;
}
/* スレッド作成確認画面 */
.tr_confirmTable {
  padding-bottom: 15px;
}
.tr_confirmTable td,th {
  padding: 15px;
  vertical-align: top;
}
.tr_confirmTable th {
  width: 160px;
  font-weight: normal;
  text-align: left;
  word-break: break-all;
}
.tr_confirmTable td {
  width: 400px;
  word-break: break-all;
}

/* スレッド一覧画面 */
.header_thread {
  justify-content: end;
}
/* スレッド詳細画面 */
.thread_nav {
  width: 100%;
  padding: 0 20px;
  background-color: #d8d8d8;
  display: flex;
  justify-content: space-between;
}

