*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px 0;
}
main {
  width: 900px;
  min-height: 500px;
  margin: 0 auto;
  /* padding: 50px 30px; */
  background-color: #ddeaf6;
  border: 1px solid #000;
  position: relative;
}
.wrapper {
  padding: 50px 0px;
}
h1 {
  text-align: center;
  font-size: 24px;
}
input[type="submit"] {
  width: 170px;
  padding: 5px 20px;
  background-color: #4472c4;
  color: #fff;
  text-align: center;
  border: #16305e 1px solid;
  border-radius: 5px;
}
input[type="submit"]:hover {
  background-color: #3766b9;
  cursor: pointer;
}
.center_div {
  text-align: center;
}
.center_p {
  text-align: center;
}
.button_a {
  display: inline-block;
  width: 170px;
  margin-top: 20px;
  padding: 5px 20px;
  background-color: #fff;
  color: #16305e;
  text-align: center;
  border: #16305e 1px solid;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
}
.button_a:hover {
  background-color: #e9e9e9;
}
.button_a_blue {
  background-color: #4472c4;
  color: #fff;
  border: #16305e 1px solid;
}
.button_a_blue:hover {
  background-color: #3766b9;
}

/* ヘッダー */
header {
  width: 100%;
  height: 80px;
  /* position: absolute;
  top: 0;
  left: 0; */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbe4d5;
}
/* .header_wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbe4d5;
  border: 1px solid #000;
  border-bottom: none;
} */
.header_button_a {
  background-color: rgba(255,255,255,0);
}
.header_button_a:hover {
  background-color: rgba(255,255,255,0.3);
}
.header_admin {
  background-color: #D8D8D8
}

/* フッター */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  display: flex;
  justify-content: end;
  background-color: #fbe4d5;
}
.footer_button_a {
  width: 50px;
  margin-top: -3px;
  padding: 5px 5px;
  background-color: rgba(255,255,255,0);
}
.footer_button_a:hover {
  background-color: rgba(255,255,255,0.3);
}
.footer_admin {
  background-color: #D8D8D8
}


/* トップ画面 */
.topLogo {
  padding-top: 140px;
  color: #fff;
  font-size: 50px;
}

/* 会員情報登録フォーム */
.mr_container {
  width: 400px;
  margin: 20px auto;
}
.mr-errors {
  width: 300px;
  margin: 0 auto;
  color: red;
  font-size: 12px;
}
.mr_contentsWrapper {
  padding-bottom: 20px;
}
.mr_nameInputWrapper {
  display: flex;
  justify-content: space-between;
}
.mr_inputs {
  display: flex;
  gap: 10px;
}
.mr_nameTitle {
  padding-right: 1px;
}
.mr_genderInputWrapper {
  display: flex;
  gap: 40px;
}
.mr_addressInputWrapper {
  display: flex;
  gap: 40px;
}
.mr_prefInputs {
  display: flex;
  flex-direction: column;
}
.mr_prefTitle {
  display: inline-block;
  width: 100px;
  font-size: 14px;
}
.mr_addressInput {
  width: 200px;
}
.mr_title {
  display: inline-block;
  width: 120px;
}
.mr_Input {
  width: 200px;
}
/* 会員情報確認画面 */
.mr_confirmTable {
  padding-bottom: 15px;
}
.mr_confirmTable td,th {
  padding: 15px;
  vertical-align: top;
}
.mr_confirmTable th {
  width: 150px;
  font-weight: normal;
  text-align: left;
}

/* ログイン画面 */
.login_title {
  display: inline-block;
  width: 160px;
}
.login-errors {
  width: 400px;
  padding-bottom: 30px;
  margin: 0 auto;
  color: red;
  font-size: 14px;
}

/* スレッド作成画面 */
.tr_container {
  width: 600px;
  margin: 20px auto;
}
.tr_title {
  display: inline-block;
  width: 140px;
  vertical-align: text-top;
}
.tr_input {
  width: 400px;
}
.tr_textarea {
  width: 400px;
  height: 150px;
}
.tr_label {
  display: flex;
}
/* スレッド作成確認画面 */
.tr_confirmTable {
  padding-bottom: 15px;
}
.tr_confirmTable td,th {
  padding: 15px;
  vertical-align: top;
}
.tr_confirmTable th {
  width: 160px;
  font-weight: normal;
  text-align: left;
  word-break: break-all;
}
.tr_confirmTable td {
  width: 400px;
  word-break: break-all;
}

/* スレッド一覧画面 */
.header_thread {
  justify-content: end;
}
.search_input {
  width: 300px;
  height: 31px;
  padding: 0 5px;
  border: 2px solid #000;
  border-radius: 0px;
}
.search_input:focus {
  border-radius: 0px;
}
input[type="submit"].search_button {
  width: 130px;
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 0px;
}
input[type="submit"].search_button:hover {
  background-color: #e9e9e9;
}
.search_wrapper {
  margin: 0 auto;
}
.thread_ul {
  list-style-type: none;
  padding: 50px 0;
  color: #0000EE;
}
.thread_ul a {
  text-decoration: none;
}
.thread_ul a:hover {
  text-decoration: underline;
}
.thread_ul a:visited {
  color: #0000EE;
}
.thread_li {
  display: grid;
  grid-template-columns: 50px 1fr 200px;
}
/* スレッド詳細画面 */
.td_title {
  width: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.td_title h2 {
  text-align: center;
}
.td_title_bottom {
  display: flex;
  justify-content: end;
  gap: 30px;
}
.thread_nav {
  width: 100%;
  padding: 0 20px;
  background-color: #d8d8d8;
  display: flex;
  justify-content: space-between;
}
.thread_nav a {
  color: #000;
  text-decoration: none;
}
.disabled{
  color: gray;
}
.thread_contents {
  width: 500px;
  margin: 20px auto;
  color: #0000EE;
  padding: 10px;
  border: 1px solid #0000EE;
  border-radius: 10px;
}
.thread_contents_top {
  display: flex;
  gap: 20px;
  padding-bottom: 5px;
}
.thread_contents_content {
  word-break: break-all;
}
.thread_detail_ol {
  width: 480px;
  margin: 0 auto;
  list-style-position: inside;
}
.comment_time {
  padding-left: 5px;
}
.thread_detail_comment {
  word-break: break-all;
}
.like_wrapper {
  width: 400px;
  display: flex;
  justify-content: end;
  gap: 5px;
}
.like_wrapper button {
  border: none;
  background-color: rgba(255,255,255,0);
}
.heart {
  width:20px;
  margin-top: 3px;
  cursor: pointer;
}
.comment_form_wrapper {
  width: 480px;
  margin: 20px auto 0;
}
.comment_textarea {
  width: 480px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 0px;
  padding: 5px;
}
.comment_error {
  color: red;
  font-size: 14px;
}
.comment_button_wrapper {
  display: flex;
  justify-content: end;
  margin-top: 5px;
}
input[type="submit"].comment_send_button {
  width: 130px;
}

/* 退会画面 */
.mw_p {
  text-align: center;
  margin-top: 20px;
}
input[type="submit"].mw_submit {
  margin-top: 30px;
  width: 90px;
  padding: 5px 5px;
}



input[type="submit"].admin_search_button {
  width: 130px;
  background-color: #fff;
  color: #16305e;
  border: #16305e 1px solid;
}
input[type="submit"].admin_search_button:hover {
  background-color: #e9e9e9;
}

.member_nav {
  width: 220px;
  height: 30px;
  margin-left: 320px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  text-align: center;
  color: #000;
}
.pages {
  display: flex;
}
.member_nav a {
  text-decoration: none;
  color: #000;
}
.member_nav .prev_next {
  width: 58px;
  height: 24px;
  border: 1px solid #000;
  background-color: #fff;
}
.member_nav .dummy {
  width: 58px;
  height: 24px;
}
.member_nav .page {
  width: 24px;
  height: 24px;
  border: 1px solid #000;
  background-color: #fff;
}
.member_nav .selected_page {
  background-color: #666;
  color: #fff;
}
